.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.blue {
    background: deepskyblue;
}

.blue-text {
    color: blueviolet;
}

.orange {
    background: darkorange;
}

.orange-text {
    color: antiquewhite;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}